.contact {
    padding: 4rem 10%;
    background: var(--azul-10);
}

.contact__container {
    display: flex;
    gap: 7%;
}

.contact__nav {
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    font: 500 16px/19px 'Raleway'
}

.contact__form__title {
    font: 700 16px/19px 'Raleway';
    margin: .5rem 0;
}

.contact__form__item {
    position: relative;
    display: flex;
    background: var(--blanco-100);
    width: 100%;
    height: 48px;
    padding: 4px;
    border-radius: 4px;
    overflow: hidden;
    margin: 8px 0px;
}

.contact__form__input {
    font: 300 16px 'Raleway';
    border: none;
    outline: 0;
}

.contact__form__label {
    font: 300 16px 'Raleway';
    position: absolute;
    align-self: center;
    left: 4px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.contact__form__slash {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background: var(--gris-70);
    transition: all 0.5s ease;

}

.contact__form__input:valid,
.contact__form__input:focus {
    margin-top: 8px;
}

.contact__form__input:valid + .contact__form__label,
.contact__form__input:focus + .contact__form__label {
    
    font: 300 12px 'Raleway';
    align-self: flex-start;
    color: var(--azul-100);
}

.contact__form__input:valid ~ .contact__form__slash,
.contact__form__input:focus ~ .contact__form__slash {
    background: var(--azul-100);
}

.contact__form__textarea {
    outline: 0;
    border: 0;
    font: 300 16px 'Raleway';
    width: 100%;
}

.contact__form__textarea:valid ~ .contact__form__slash,
.contact__form__textarea:focus ~ .contact__form__slash {
    background: var(--azul-100);
}

.contact__form {
    width: 100%;
}

.contact__logo__tablet {
    display: none;
}